<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>account</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    <img id ="logout" src="https://img.icons8.com/external-prettycons-lineal-prettycons/30/000000/external-exit-essentials-prettycons-lineal-prettycons.png"/>
    <div class="menu">
        <div id="edit">
            <p id="txt">Editar la cuenta.</p>
        </div>
        <div id="buy">
            <p id="txt">Artículos comprados.</p>
        </div>
        <div id="cancel">
            <p id="txt">Artículos cancelados</p>
        </div>
        <div id="location">
            <p id="txt">Localizar los paquetes</p>
        </div>
        <div id="sales">
            <p id="txt">Ofertas y promociones</p>
        </div>
    </div>
</body>

</html>