<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>home</title>

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body id="body">
   <div>
      <h1 id="title">ARC</h1>
      <img src="assets/images/imghome.jpg" id="photoARC">
   </div>
   <div class="info">
      <div class="info2">
         <h2 id="question">¿Quiénes somos?</h2>
      </div>
      <p id="description">informacion informacion informacion informacion informacion informacion informacion informacion informacion informacion informacion informacion informacion </p>
   </div>
   <div class="titleWorkers">
      <h3>Nuestros trabajadores</h3>
   </div>
   <app-workers></app-workers>


</body>

</html>