<body>
    <img src="/assets/images/iconcompany.jpg" id="company">
    <footer>
        <div id="menu">
            <a href="/basket"><img src="assets/images/iconbasket.jpg" width="25" height="25" ></a>
            <a href="/search"><img src="assets/images/iconsearch.jpg" width="25" height="25"></a>
            <a href="/home" ><img src="assets/images/iconhome.jpg"width="25" height="25"></a>
            <a href="/contact"><img src="assets/images/iconcontact.jpg" width="25" height="25"></a>
            <a href="/login" ><img src="assets/images/iconaccount.jpg" width="25" height="25"></a>
        </div>
    </footer>
</body>

