<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
  <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  
</head>

<body id="body">
  <div>
    <div class="contenedor">
      <img id="imgContact" src="/assets/images/Contact/contact.jpg" />
      <h2 id="contact">Contacto</h2>
    </div>
    <div id="title">
      <h2>¿Qué tipo de contacto prefieres?</h2>
    </div>
    <div>
      <p id="text1">Si prefiere hablar con algunos de nuestros empleados:</p>
      <div class="phone">
        <p id ="text2">Número de teléfono: 999999999</p>
        <p id="text2">Horario: 8:00-18:00</p>
      </div>

      <p id="text4">Si prefiere el contacto por correo</p>
    </div>
      <button id="button" (click)="submit()"> <img src="https://img.icons8.com/fluency/24/000000/gmail.png"/> Correo</button>
  </div>

</body>

</html>